services:
  - type: worker
    name: sofiacash-bot
    env: python
    buildCommand: pip install -r requirements.txt
    startCommand: python bot.py
    envVars:
      - key: BOT_TOKEN
        sync: false
      - key: ADMIN_IDS
        value: "7940060404"  # Ваш ID
    plan: free
